body {
margin: 0px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
ul {
    list-style:none;
    }
    /*.menu {
        padding:0px;
        margin:0px;
        background-color:#ffffff;
        list-style:none;
    }*/
.menu ul li { 
        display: inline-block;
        padding: 20px 10px;
        font-size: 20pt;
    }
a {
    text-decoration:none ;
    color: white;
    }
a:hover{
    color: rgb(74, 64, 167);
}
.flex {
        display: flex ;
        justify-content: space-between;
        align-items: center;
        background-color: #4d7dd8;
    }
h1 {
    margin-top: 10px;
    font-size: 30pt;
    margin-left:10px;
    color:#ffffff;
    }
h1:hover {
    font-size: 40pt;
}
@media  (max-width: 700px) {
    h1{
        display: none;
        }
  }
@media (max-width: 700px) {
    nav { 
        display: block;
        justify-content: center;


    }
}

